.fulu-wrapper {
  .ant-form-item-row {
    width: 100%;
  }

  .ant-input {
    height: inherit !important;
  }
  .ant-picker {
    height: inherit !important;
    padding: 4px 11px !important;
  }
  .ant-select-selector {
    height: inherit !important;
  }
  .ant-btn {
    min-width: inherit !important;
    height: inherit !important;
  }
}
.content-box {
  input {
    height: inherit !important;
  }
}

.ant-space {
  flex-wrap: wrap;
}

.bread-crumb-wrap {
  .ant-breadcrumb-link {
    font-size: 16px;
  }
}
.ant-btn {
  border-radius: 4px;
}
