.fl-top-wrapper {
    min-height: 100vh;

    .fulu-wrapper {
        flex: 1;
        min-height: auto;
    }
}

.common-page-content {
    // height: 100%;
    min-height: e('calc(100vh - 120px)');
    padding: 20px 20px !important;
    box-sizing: border-box;
    position: relative;
    background: #fff;

    .table-control-bar {
        margin: 20px 0px;
    }

    .fulu-table {
        margin-top: 0px;
    }
}